* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
}

#page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-component {
    background-color: var(--card-bg);
    max-width: 400px;
    border-radius: 15px;
}

.card-container {
    padding: 1rem;
}

.coin-logo {
    max-width: 100%;
    border-radius: 15px;
}

.card-title {
    color: var(--white);
    font-weight: bold;
}

.price {
    color: var(--cyan)
}

.card-detail, .time, .creator-information {
    color: var(--main-blue)
}

.card-detail {
    font-size: 0.9rem;
    margin: 1rem 0;

}

.creator-name {
    color: var(--white)
}

.price-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--line)
    
}

.creator-information-container {
    display: flex;
}

.price-container, .time-container {
    display: flex;
    margin-bottom: 1rem;
}

.price-container {
    grid-column: 1 / 2;
}

.time-container {
    grid-column: 2 / 3;
    justify-content: end;
}

.time, .price {
    margin-left: 0.75rem;
    font-size: 0.9rem;
}

.avatar-container {
    max-width: 20%;;
}

.avatar {
    border: 1px solid var(--white);
    border-radius: 100%;
    max-width: 100%;

}

.creator-information {
    display: flex;
    align-items: center ;
    font-size: 0.9rem;
    margin-left: 1rem;
}

.creator-name:hover, .card-title:hover {
    color: var(--cyan);
    cursor: pointer;
}
